.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.not-found {
  border-radius: 20px;
}

.d-block {
  margin: auto !important;
  margin-top: 75px !important;
}

.grid {
  margin-top: 30px !important;
}

.App-link {
  color: #61dafb;
}

.p-3>img {
  animation: loading 1s ease !important;
}

.p-3 img:not {
  animation: loading 2s ease !important;
}

input::placeholder {
  color: white;
}

.fdd {
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 60px !important;

}

@keyframes loading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}